<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAR Player Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>WAR Player Data</h1>
          <h4>How do injuries impact player performance?</h4>
        </div>
      </div>
    <div class="new_container">
        <div class='tableauPlaceholder' id='viz1653859550251' style='width: 10px' float: left>
            <noscript><a href='#'><img alt='Player WAR &amp; Difference Per Year ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pl&#47;PlayerWARDifferencePerYearWithInjuries&#47;PlayerWARDifferencePerYear&#47;1_rss.png' style='border: none' /></a>
            </noscript><object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                <param name='name' value='PlayerWARDifferencePerYearWithInjuries&#47;PlayerWARDifferencePerYear' />
                <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pl&#47;PlayerWARDifferencePerYearWithInjuries&#47;PlayerWARDifferencePerYear&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
                <param name='filter' value='publish=yes' />
            </object>
        </div>
        <div class='tableauPlaceholder' id='viz1653862021139' style='position: relative'>
            <noscript><a href='#'><img alt='League Year Injury Trends ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LeagueMLBInjuryandWARTrends&#47;LeagueYearInjuryTrends&#47;1_rss.png' style='border: none' /></a>
            </noscript><object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' />
                <param name='name' value='LeagueMLBInjuryandWARTrends&#47;LeagueYearInjuryTrends' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Le&#47;LeagueMLBInjuryandWARTrends&#47;LeagueYearInjuryTrends&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
            </object>
        </div>
        </div>
    <div class="new_row_container">
        <div class='tableauPlaceholder' id='viz1653852802422' style='position: fixed'>
            <noscript><a href='#'><img alt='Days Spent Injured ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;DaysSpentInjuredPlayer&#47;DaysSpentInjured&#47;1_rss.png' style='border: solid' /></a>
            </noscript><object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' />
                <param name='name' value='DaysSpentInjuredPlayer&#47;DaysSpentInjured' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;DaysSpentInjuredPlayer&#47;DaysSpentInjured&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
                <param name='filter' value='publish=yes' />
            </object>
        </div>
        <div class='tableauPlaceholder' id='viz1653862606719' style='position: relative'>
            <noscript><a href='#'><img alt='Team Injury WAR Difference and Above Average WAR ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;TeamInjuryWARDifferenceandAboveAveragePlayers2WAR&#47;TeamInjuryWARDifferenceandAboveAverageWAR&#47;1_rss.png' style='border: none' /></a>
            </noscript><object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' />
                <param name='name' value='TeamInjuryWARDifferenceandAboveAveragePlayers2WAR&#47;TeamInjuryWARDifferenceandAboveAverageWAR' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;TeamInjuryWARDifferenceandAboveAveragePlayers2WAR&#47;TeamInjuryWARDifferenceandAboveAverageWAR&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
            </object>
        </div>
        </div>                
    </div>

    <script type='text/javascript'>
        var divElement = document.getElementById('viz1653852802422');
        var vizElement = divElement.getElementsByTagName('object')[0];
            if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='420px';
                vizElement.style.maxWidth='650px';
                vizElement.style.width='100%';
                vizElement.style.minHeight='587px';
                vizElement.style.maxHeight='887px';
                vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            } 
            else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';
                vizElement.style.maxWidth='650px';
                vizElement.style.width='100%';
                vizElement.style.minHeight='587px';
                vizElement.style.maxHeight='887px';
                vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            } 
            else { vizElement.style.width='100%';vizElement.style.height='727px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1653859550251');
        var vizElement = divElement.getElementsByTagName('object')[0];
            if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='420px';
            vizElement.style.maxWidth='650px';
            vizElement.style.width='100%';
            vizElement.style.minHeight='587px';
            vizElement.style.maxHeight='887px';
            vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            } 
            else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';
            vizElement.style.maxWidth='650px';
            vizElement.style.width='100%';
            vizElement.style.minHeight='587px';
            vizElement.style.maxHeight='887px';
            vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            }
            else
            { vizElement.style.width='100%';
            vizElement.style.height='877px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1653862021139');
        var vizElement = divElement.getElementsByTagName('object')[0];
            if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='420px';
            vizElement.style.maxWidth='650px';
            vizElement.style.width='100%';
            vizElement.style.minHeight='587px';
            vizElement.style.maxHeight='887px';
            vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            } 
            else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';
            vizElement.style.maxWidth='650px';vizElement.style.width='100%';
            vizElement.style.minHeight='587px';vizElement.style.maxHeight='887px';
            vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            } 
            else { vizElement.style.width='100%';vizElement.style.height='877px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
    <script type='text/javascript'>var divElement = document.getElementById('viz1653862606719');
        var vizElement = divElement.getElementsByTagName('object')[0];
            if ( divElement.offsetWidth > 800 ) { vizElement.style.minWidth='420px';
            vizElement.style.maxWidth='650px';
            vizElement.style.width='100%';
            vizElement.style.minHeight='587px';
            vizElement.style.maxHeight='887px';
            vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            } 
            else if ( divElement.offsetWidth > 500 ) { vizElement.style.minWidth='420px';
            vizElement.style.maxWidth='650px'
            ;vizElement.style.width='100%'
            ;vizElement.style.minHeight='587px';
            vizElement.style.maxHeight='887px';
            vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            } 
            else { vizElement.style.width='100%';
            vizElement.style.height='927px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://public.tableau.com/app/profile/brett.liddicoat/viz/DaysSpentInjuredPlayer/DaysSpentInjured?publish=yes"></script>
    <script src="charts.js"></script>

</body>

</html>