/* body {
    background-color: rgb(71, 0, 0);
    color: #000000;
} */

body {
    background-color: rgba(0, 0, 0, 0.373);
    background-repeat: no-repeat, repeat;
    background-image: url("images/mlb4.png"), url("images/mlb4.png");
    background-blend-mode: saturation;
}

.jumbotron {
    background-image: url("images/mlb.jpeg");
    background-size: 100% 100%;
    text-align: center;
    border-style: double;
    border-color: black;
}

.jumbotron h1 {
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.jumbotron h4 {
    color: white;
}

#viz1653859550251 {
    border-style: solid;
    border-color: black;
  }

#viz1653862021139 {
    border-style: solid;
    border-color: black;
}

#viz1653852802422 {
    border-style: solid;
    border-color: black;
}

#viz1653862606719 {
    border-style: solid;
    border-color: black;
}

.new_container {
    display: flex
}

.new_row_container { 
    display: flex
}